################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShopSystem.Api/obj
/ShopSystem.Domain/obj
/ShopSystem.infrastructure/obj
